[submodule "spring5-recipe-app"]
	path = spring5-recipe-app
	url = https://github.com/livia01px2019/spring5-recipe-app.git
[submodule "spring5webapp"]
	path = spring5webapp
	url = https://github.com/livia01px2019/spring5webapp.git
